
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>NBA application</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
</head>
<style>
    
body {
    background-color: #4c83d4;

  color: rgb(111, 177, 253);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered {
    padding: 30px;
    text-align: center;
    width: 500px;
    height: 700px;
    background-color: #E8ECEF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex-direction: column;
    
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
/* .title{
    background-color:  rgb(111, 177, 253);
    border-radius: 5px;
    color: white;
} */
.cap{
 color: #054bb4;
 padding: 50px;
 padding-bottom: 80px;

}
</style>

<body>

  <div class="centered">
    <div class="contain"><i class="fa-solid fa-graduation-cap fa-6x cap"></i>
      
    
</div><div class=""><h1 class="display-3">NBA-3</h1>
    <p class="lead">Mapping co-po as per curriculum</p>
    
    <hr>
    <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a></div>
    
  </div>

<script src="https://kit.fontawesome.com/7521d28aba.js" crossorigin="anonymous"></script>
</body>

</html>

