<%- include("partials/header.ejs") %>
<!-- <table>
    <tr>
        <th><%= data[0].PO1.comp.length %> </th>
      <th>POs</th>
      <th>Competancies</th>
      <th>Skills</th>
      <% if(locals.co){ %>
        <% co.forEach((c) =>{ %>
         <th>CO<%= c %></th>
       <% }) %>
        
        <% } %>
    </tr>
    <tbody>
    <tr>
     <td rowspan="4">PO</td>
     <td rowspan="2">CO1</td>
     <td>skill1</td>
    </tr>
    <tr>
        <td>skill2</td>
     
    </tr>
    <tr>
        <td rowspan="2">CO2</td>
        <td>skill3</td>
     
    </tr>
    <tr>
        <td>skill4</td>
    </tr>
    </tbody>
  </table> -->
  <%- include("partials/footer.ejs") %>

